extends ../../layout/users
block content 
	.d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
		div 
			nav(aria-label="breadcrumb")
				ol.breadcrumb.mb-0.p-0
					li.breadcrumb-item
						a(href="/users/dashboard") Dashboard
					li.breadcrumb-item.active(aria-current="page") Branding 
		a.btn.btn-primary(href="/users/add-branding")
				i.ti.ti-square-rounded-plus-filled.me-1
				| Create Branding

	//- .d-flex.align-items-center.justify-content-between.flex-wrap.gap-2.mb-3
	//- 	// Left side: Filter + Search
	//- 	.d-flex
	//- 	.d-flex.align-items-center.gap-2.flex-wrap
	//- 		a.btn.btn-primary(href="/users/add-branding")
	//- 			i.ti.ti-square-rounded-plus-filled.me-1
	//- 			| Create Branding

	.row 
		if data.length > 0
			each item in data
				.col-md-6.col-lg-4.mb-3
					.card.blog-item.mb-0
						.card-body
							.blog-img.rounded.position-relative.mb-3.banding-box
								img.img-fluid.position-relative.rounded(src=item.brand_logo alt="img")
								if item.default
									span.badge.bg-success.position-absolute.fs-12.top-0.start-0.mt-2.ms-2
										| Default
							.blog-content 
								.mb-3
									h6.mb-2  #{item.name}
								hr
								.d-flex.align-items-center.justify-content-between
									a.btn.btn-xs.px-3.fs-12.btn-outline-dark(href=`/users/edit-branding/${item.id}`)
										i.ti.ti-edit.me-1
										| Edit 
									span.btn.btn-xs.px-3.fs-12.btn-outline-danger.delete_branding_button(data-id=item.id)
										i.ti.ti-trash.me-1(data-id=item.id)
										| Delete 
		else 
			p No branding found


block js
	script(src="/javascripts/branding.js?ver=1.0.0")