extends ../../layout/users
block content 
	.d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
		div 
			nav(aria-label="breadcrumb")
				ol.breadcrumb.mb-0.p-0
					li.breadcrumb-item
						a(href="/users/dashboard") Dashboard
					li.breadcrumb-item.active(aria-current="page") Branding 

	.d-flex.align-items-center.justify-content-between.flex-wrap.gap-2.mb-3
		// Left side: Filter + Search
		.d-flex
		.d-flex.align-items-center.gap-2.flex-wrap
			a.btn.btn-primary(href="/users/add-branding")
				i.ti.ti-square-rounded-plus-filled.me-1
				| Create Branding

	.row 
		.col-12 
			.card
				.card-header
					h4.card-title Branding
				.card-body 
					.table-responsive
						if data.length > 0
							table.table.mb-0
								thead
									tr
										th Name
										th Default
										th Action
								tbody
									each item in data
										tr
											th(scope="row")
												.d-flex.align-items-center
													span.avatar.avatar-sm.me-2.avatar-rounded
														img(src=item.brand_logo alt="img")
														p.text-dark #{item.name}
											td
												if item.default
													span Yes
												else 
													span No
											td
												.d-inline-flex.gap-2.justify-content-end
													a.btn.btn-icon.btn-sm.btn-soft-info.rounded-pill(href=`/users/edit-branding/${item.id}`)
														i.ti.ti-edit
													span.btn.btn-icon.btn-sm.btn-soft-danger.rounded-pill.delete_branding_button(data-id=item.id)
														i.ti.ti-trash(data-id=item.id)
						else 
							p No branding found
block js
	script(src="/javascripts/branding.js?ver=1.0.0")