extends ../../layout/users
block content 
	.d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
		div 
			nav(aria-label="breadcrumb")
				ol.breadcrumb.mb-0.p-0
					li.breadcrumb-item
						a(href="/users/dashboard") Dashboard
					li.breadcrumb-item
						a(href="/users/branding") Branding
					li.breadcrumb-item.active(aria-current="page") Edit Branding 
	.row
		.col-xl-12
			.card
				.card-header
					h5.card-title Edit Branding
				.card-body
					form.update_branding_form(action="/branding" method="PUT").row
						if data.brand_logo
							.col-lg-12.mb-3
								.edit-brand-logo.rounded
									span.delete_branding_logo(data-id=data.id)
										i.ti.ti-x(data-id=data.id)
									img.preview1(
										src=data.brand_logo,
										alt="img"
									)
						else 
							.col-lg-12.mb-3 
								label.form-label(for="input-label") Upload Logo
								input.form-control(type="file" name="brand_logo") 
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Name
								input.form-control(type="text" placeholder="Enter Name" name="name" value=data.name)
								input(type="hidden" name="id" value=data.id)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Email
								input.form-control(type="email" placeholder="Enter Email" name="contact_email" value=data.contact_email)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Tagline
								input.form-control(type="text" placeholder="Enter tagline" name="tagline" value=data.tagline)
						.col-lg-12
							.mb-3
								label.form-label(for="input-label") About us
								textarea.form-control(placeholder="Enter about us" name="about_us")= data.about_us
						.col-lg-12
							.mb-3
								label.form-label(for="input-label") Address
								textarea.form-control(placeholder="Enter address" name="address")= data.address
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Contact number
								input.form-control(type="text" placeholder="Enter Contact number" name="contact_number" value=data.contact_number)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Whatsapp number
								input.form-control(type="text" placeholder="Enter whatsapp number" name="whatsapp" value=data.whatsapp)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Website
								.d-flex
									.btn.btn-primary.btn-md.btn-icon.position-relative.me-1
										i.ti.ti-unlink
									input.form-control(type="url" placeholder="Enter website url" name="website" value=data.website)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Facebook
								.d-flex
									.btn.btn-primary.btn-md.btn-icon.position-relative.me-1
										i.ti.ti-brand-facebook
									input.form-control(type="url" placeholder="Enter facebook url" name="facebook" value=data.facebook)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Instagram
								.d-flex
									.btn.btn-primary.btn-md.btn-icon.position-relative.me-1
										i.ti.ti-brand-instagram
									input.form-control(type="url" placeholder="Enter instagram url" name="instagram" value=data.instagram)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") YouTube
								.d-flex
									.btn.btn-primary.btn-md.btn-icon.position-relative.me-1
										i.ti.ti-brand-youtube
									input.form-control(type="url" placeholder="Enter youtube url" name="youtube" value=data.youtube)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Linkedin Page 
								.d-flex
									.btn.btn-primary.btn-md.btn-icon.position-relative.me-1
										i.ti.ti-brand-linkedin
									input.form-control(type="url" placeholder="Enter linkedin url" name="linkedin" value=data.linkedin)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Twitter 
								.d-flex
									.btn.btn-primary.btn-md.btn-icon.position-relative.me-1
										i.ti.ti-brand-x
									input.form-control(type="url" placeholder="Enter twitter url" name='x' value=data.x)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Snapchat
								.d-flex
									.btn.btn-primary.btn-md.btn-icon.position-relative.me-1
										i.ti.ti-brand-x
									input.form-control(type="url" placeholder="Enter snapchat url" name='snapchat' value=data.snapchat)
						.col-lg-4
							.mb-3
								label.form-label(for="input-label") Tiktok
								.d-flex
									.btn.btn-primary.btn-md.btn-icon.position-relative.me-1
										i.ti.ti-brand-x
									input.form-control(type="url" placeholder="Enter tiktok url" name='tiktok' value=data.tiktok)
						.col-12 
							.mb-3 
								.form-check.mb-1
									input.form-check-input(type="checkbox" id="MakeDefault" name="default" checked=data.default)
									label.form-check-label.ms-1(for="MakeDefault") Make Default

						.col-12 
							.d-flex.align-items-center.justify-content-end
								a.btn.btn-light.me-2(href="/users/branding") Cancel
								button.btn.btn-primary(type="submit") Edit Event
block js
	script(src="/javascripts/branding.js?ver=1.0.1")