extends ../../layout/event/event-details
block content 
	include ../../components/users/bottom-menu

	.row 
		.col-12
			.card 
				.card-header.card-header.d-flex.align-items-center.justify-content-between.gap-2.flex-wrap
					.d-flex
						.pe-3
							p.fs-14.mb-1 Media count
							h2.mb-0.fs-16=media_count || 0
					.d-flex.align-items-center.justify-content-between.gap-2.flex-wrap
						.input-icon.position-relative.me-2
							input.form-control(
								type="text"
								placeholder="Search Keyword"
							)
							span.input-icon-addon.d-inline-flex.p-2.header-search-icon
								i.ti.ti-command
						.dropdown
							a.dropdown-toggle.btn.btn-outline-light.shadow(
								href="javascript:void(0);"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							) Filter

							.dropdown-menu.dropdown-menu-end
								a.dropdown-item(href="tasks.html") Z to A
								a.dropdown-item(href="tasks.html") A to Z
								a.dropdown-item(href="tasks.html") Newest
								a.dropdown-item(href="tasks.html") Oldest
								a.dropdown-item(href="tasks.html") Largest
								a.dropdown-item(href="tasks.html") Smallest


	.row 
		.col-lg-4.col-xl-3


			span.btn.btn-primary.w-100.mb-2(
				type="button"
				data-bs-toggle="modal"
				data-bs-target="#CreateCollection"
			)
				i.ti.ti-square-rounded-plus-filled.me-1
				| Create Collection


			#CollectionAccordion.accordion.accordion-bordered.custom-collect
				//- Basic Info
				.accordion-item.rounded.mb-3
					.accordion-header
						a.accordion-button.accordion-custom-button.rounded(
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#basic"
						)
							span.avatar.avatar-md.rounded.me-1
								i.ti.ti-library
							| Collection

					#basic.accordion-collapse.collapse.show(data-bs-parent="#CollectionAccordion")
						.accordion-body.border-top
							ul.collection-items
								li
									a(href="javascript:void(0);")
										i.ti.ti-photo.me-1
										| All Photos
								each item in collections
									li.d-flex.justify-content-between.align-items-center
										a(href="javascript:void(0);")
											if item.name === 'Highlights'
												i.ti.ti-star.me-1
											else if item.name === 'Stories'
												i.ti.ti-circle.me-1
											else 
												i.ti.ti-library-photo.me-1
											| #{item.name}
										if item.name !== 'Highlights' && item.name !== 'Stories'
											span.edit_collection_button(data-id=item.id style="cursor: pointer;")
												i.ti.ti-pencil.me-1(data-id=item.id)

		.col-lg-8.col-xl-9
			.masonry
				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download
					input.bank-radio(type="checkbox" name="bank" id="bank1")
					.bank-box
						.check-icon
						img(src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" alt="")

				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download
					input.bank-radio(type="checkbox" name="bank" id="bank2")
					.bank-box
						.check-icon
						img(src="http://localhost:8080/assets/img/users/user-40.jpg" alt="")

				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download 
					input.bank-radio(type="checkbox" name="bank" id="bank3")
					.bank-box
						.check-icon
						img(src="https://whatsme.in/assets/img/front-pages/landing-page/API.svg" alt="")

				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download
					input.bank-radio(type="checkbox" name="bank" id="bank4")
					.bank-box
						.check-icon
						img(src="https://whatsme.in/assets/img/front-pages/landing-page/coding-right.webp" alt="")

				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download
					input.bank-radio(type="checkbox" name="bank" id="bank5")
					.bank-box
						.check-icon
						img(src="https://whatsme.in/assets/img/front-pages/services-icon/Multi-session-Support.webp" alt="")

				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download
					input.bank-radio(type="checkbox" name="bank" id="bank6")
					.bank-box
						.check-icon
						img(src="https://whatsme.in/assets/img/front-pages/landing-page/why.svg" alt="")

				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download
					input.bank-radio(type="checkbox" name="bank" id="bank7")
					.bank-box
						.check-icon
						img(src="https://whatsme.in/assets/img/front-pages/services-icon/api-img-1.webp" alt="")

				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download
					input.bank-radio(type="checkbox" name="bank" id="bank8")
					.bank-box
						.check-icon
						img(src="https://fotoowl.ai/_next/static/media/sports-men.e53bc9fc.jpg" alt="")

				.position-relative.item
					.download 
						a(href="")
							i.ti.ti-download
					input.bank-radio(type="checkbox" name="bank" id="bank9")
					.bank-box
						.check-icon
						img(src="https://fotoowl.ai/_next/static/media/reelit.caf78a78.png" alt="")



	//- Create collection model
	.modal.fade#CreateCollection(tabindex="-1" role="dialog" aria-hidden="true")
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-header
					h5.card-title Create Collection
					button.btn-close(
						type="button"
						data-bs-dismiss="modal"
						aria-label="Close"
					)
				.modal-body
					form(action='/collection' method="POST").row.create_collection_form
						.col-lg-12
							.mb-3
								label.form-label(for="input-label") Collection Name
								input.form-control(type="text" placeholder="Enter Collection Name" name='name')
								input(type="hidden" name="event_id" value=data.id)
						.col-12.text-end
							button.btn.btn-primary Submit
	//- Edit collection model
	.modal.fade#EditCollection(tabindex="-1" role="dialog" aria-hidden="true")
		.modal-dialog.modal-dialog-centered
			.modal-content
				.modal-header
					h5.card-title Edit Collection
					button.btn-close(
						type="button"
						data-bs-dismiss="modal"
						aria-label="Close"
					)
				.modal-body
					form(action='/collection' method="PUT").row.update_collection_form
						.col-lg-12
							.mb-3
								label.form-label(for="input-label") Collection Name
								input.form-control(type="text" placeholder="Enter Collection Name" name='name')
								input(type="hidden" name="event_id" value=data.id)
								input(type="hidden" name="id")
						.col-12.text-end
							button.btn.btn-danger.delete_collection_button(type="button") Delete Collection
							button.btn.btn-primary.mx-2 Edit
block js
	script(src="/javascripts/collection.js")